<div class="container__big-card">
  <div class="big-card__photo">
    <img src="assets\image-placeholder.png" alt="imagem placeholder" srcset="">
    <!-- <img src="https://placehold.co/1000x800.png" alt="imagem placeholder" srcset=""> -->
  </div>

  <div class="big-card__title">
    <h1>
      <a href="#">Saiu a nova versão do Angular</a>
    </h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptates qui veritatis architecto ullam,
        voluptatem unde cum, vel doloremque, inventore pariatur tempore possimus amet praesentium repellendus. Optio
        debitis saepe fugiat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis deserunt, ipsam
        quisquam inventore quo fuga omnis voluptate praesentium aperiam repellendus. Fuga magni beatae laborum eveniet
        odio quas aut eaque ipsa.
      </a>
    </p>
  </div>
</div>
