<div class="container__big-card">
  <div class="big-card__photo">
    <img src="{{ photoCover }}" alt="imagem placeholder" srcset="">
    <!-- <img src="https://placehold.co/1000x800.png" alt="imagem placeholder" srcset=""> -->
  </div>

  <div class="big-card__title">
    <h1>
      <a [routerLink]="['content', id]">{{ cardTitle }}</a>
    </h1>
  </div>

  <div class="big-card__description">
    <p>
      <a [routerLink]="['content', id]">
        {{ cardDescription }}
      </a>
    </p>
  </div>
</div>