<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="assets\image-placeholder.png" cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
      cardDescription="Novo Homem de Ferro é anunciado e será interpretado por um ator diferente do que já conhecemos. O novo ator é conhecido por seu papel em um filme de sucesso e promete trazer uma nova perspectiva ao personagem. A Marvel está animada com essa nova adição ao seu universo cinematográfico e os fãs estão ansiosos para ver o que está por vir."></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card photoCover="assets/imagem-noticia-1.png"
      cardTitle="NOVA SÉRIO ANUNCIADA PELA NETFLIX PARA 2026"></app-small-card>

    <app-small-card photoCover="assets/imagem-noticia-1.png"
      cardTitle="TRAILER DE FILME DA MARVEL É REVELADO"></app-small-card>

    <app-small-card photoCover="assets/imagem-noticia-1.png"
      cardTitle="SÉRIE DE SUCESSO GANHA NOVA TEMPORADA"></app-small-card>
  </div>
</div>